<div class="book-information">
  <div class="show-buttons">
    <button class="add-to-library btn btn-default" type="button" name="button">Add To Library</button>
    <button class="read btn btn-default pull-right" type="button" name="button">Read Now!</button>
  </div>
  <div class="book-info-header">
    <h1><%= book.escape('title') %></h1>
    <h3 class="pull-right"><%= book.escape('author_fname') %> <%= book.escape('author_lname') %></h3>
  </div>
  <div class="cover-show">
  </div><img height="300" width="200" src=<%=book.escape('cover_url')%>>
  <p class="book-description"><%= book.escape('description')%></p>
</div>
<div class="reviews"></div>
