<h4><%= review.escape('title') %></h4>
<div class="raty-existing"></div>
<span class="author" data="<%=review.escape('author_id')%>">
  by <%= review.escape('author_fname') %>
  <%= review.escape('author_lname') %></span>
<hr>
<p><%= review.escape('qualitative')%></p>
