<img class="login-logo center-block" src="https://res.cloudinary.com/dik5878ak/image/upload/v1434650893/readMe-logo_rthnfc.png" alt="" />
<div class="container ">

<% action = '/users' if header == 'Sign Up'%>
<% action = '/session' if header == 'Sign In'%>
<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<form class="form-signin center-block" action="<%= action %>" method="post">
  <br>
  <input type="text" name="user[email]" placeholder="Email"> <br>
  <% if header == 'Sign Up' %>

    <input type="text" name="user[fname]" placeholder="John">
     <br>

    <input type="text" name="user[lname]" placeholder="Doe">
    <br>
  <% end %>
  <input type="password" name="user[password]" placeholder="Password">
  <br>
  <br>

  <input class="btn" type="submit" value="<%= header %>">
</form>
<% if header == 'Sign In' %>
  <form class="form-signin center-block" action="<%= action %>" method="post">
    <input type="hidden" name="user[email]" value="guest">
    <input type="hidden" name="user[password]" value="123456">
    <input class="btn" name="name" type="submit" value="Guest Login">
  </form>
<% end %>
  <div class="center-block">
    <span class="sign-in-toggle center-block">
      <% if header == 'Sign Up' %>
        <%= link_to('Already a member?', new_session_url)%>
      <% elsif header == 'Sign In' %>
        <%= link_to('New to readMe?', new_user_url) %>
      <% end %>
    </span>
  </div>
</div>
