<img class="login-logo center-block" src="https://res.cloudinary.com/dik5878ak/image/upload/v1434650893/readMe-logo_rthnfc.png" alt="" />
<div class="container ">

<% action = '/users' if header == 'Sign Up'%>
<% action = '/session' if header == 'Sign In'%>
<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<form class="form-signin center-block" action="<%= action %>" method="post">
  <br>
  <input class="email center-block" type="text" name="user[email]" placeholder="Email">
  <% if header == 'Sign Up' %>

    <input class="center-block" type="text" name="user[fname]" placeholder="John">
    <input class="center-block" type="text" name="user[lname]" placeholder="Doe">
  <% end %>
  <input class="password center-block" type="password" name="user[password]" placeholder="Password">
  <br>
  <input class="submit btn btn-sm btn-default center-block" type="submit" value="<%= header %>">
<% if header == 'Sign In' %>
<% end %>
</form>
      <% if header == 'Sign Up' %>
      <span class="sign-in-toggle center-block">
        <%= link_to('Already a member?', new_session_url)%>
      </span>
      <% elsif header == 'Sign In' %>
        <!-- Test button -->
        <button class="guest btn btn-sm btn-default center-block" name="button">Guest Login</button>
        <!-- <form class="form-signin center-block" action="<%= action %>" method="post">
          <input type="hidden" name="user[email]" value="guest">
          <input type="hidden" name="user[password]" value="123456">
          <input class="guest btn btn-sm btn-default center-block" name="name" type="submit" value="Guest?">
        </form> -->
        <span class="sign-in-toggle center-block">
        <%= link_to('New to readMe?', new_user_url) %>
        </span>
      <% end %>
</div>
