<!DOCTYPE html>
<html>
<head>
  <title>ReadMe</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>

  <%= csrf_meta_tags %>
  <% if current_user %>
    <script type="text/javascript">
      window.CURRENT_USER_ID = "<%= current_user.id %>"
    </script>
  <% end %>
</head>
<body>
<% if current_user %>
  <span>Hello <%= current_user.fname%> <%= button_to 'Sign Out', "/session", method: :delete %> </span>
<% else %>
  <span> <%= link_to('Sign Up', new_user_url) %> <%= link_to('Sign In', new_session_url) %> </span>
<% end %>

<% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

<%= yield %>

</body>
</html>
